<!DOCTYPE html>
<html>
<head>

<title>Students</title>

<style>

body{
    font-family: Arial;
}

.navbar{
    background-color: darkblue;
    padding:15px;
}

.navbar a{
    color:white;
    margin-right:20px;
    text-decoration:none;
}

table{
    width:70%;
    border-collapse: collapse;
    margin-top:20px;
}

table, th, td{
    border:1px solid black;
    padding:10px;
}

</style>

</head>

<body>

<div class="navbar">

<a href="/">Home</a>

<a href="/colleges/">Colleges</a>

<a href="/students/">Students</a>

<a href="/address/">Address</a>

</div>

<h2>Students Table</h2>

<table>

<tr>
    <th>S.No</th>
    <th>Name</th>
    <th>Branch</th>
    <th>Age</th>
    <th>Eligible for Vote</th>
</tr>

{% for student in students %}

<tr>

<td>{{ student.sno }}</td>

<td>{{ student.name }}</td>

<td>{{ student.branch }}</td>

<td>{{ student.age }}</td>

<td>

{% if student.age >= 18 %}

Yes

{% else %}

No

{% endif %}

</td>

</tr>

{% endfor %}

</table>

</body>
</html>